<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">

    <div class="field">
      <%= f.label :fname %> <br />
      <%= f.text_field :fname, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :lname %><br />
      <%= f.text_field :lname, autocomplete: "off" %>
    </div>

    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<% if current_user.admin? %>
<%= link_to "Delete User", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%end%>
<%= link_to "Back", :back %>

</div>
</div>
